<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/animate.min.css">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/meanmenu.css">
    <!-- BoxIcons CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/boxicons.min.css">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">
    <!-- FlatIcon Two CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/flaticon-two.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/odometer.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.min.css">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/owl.theme.default.min.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/swiper-bundle.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <!-- Dark CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/dark.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">

    @RenderSection("Styles", required: false)

    <title>Healthcare IT Company</title>
    <link rel="icon" type="image/png" href="~/Content/assets/images/favicon.png">
</head>
<body class="rehabilitation-center-home">

    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="loader">
            <div class="sbl-half-circle-spin"></div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Navbar Area -->
    <div class="navbar-area rth-navbar-area rc-style">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="javascript:void(0)">
                            <img src="~/Content/assets/images/logo.png" class="main-logo" alt="logo">
                            <img src="~/Content/assets/images/logo.png" class="white-logo" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navbar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="#">Healthcare</a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="/Home/Index" class="nav-link active">
                                    Home
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/Home/Index#products" class="nav-link">Products</a>
                            </li>

                            <li class="nav-item">
                                <a href="/Home/Index#aboutus" class="nav-link">About Us</a>
                            </li>

                            <li class="nav-item">
                                <a href="/Home/Index#contactus" class="nav-link">Contact</a>
                            </li>

                            <li class="nav-item">
                                <a href="/Home/DisplayData" class="nav-link">Display Data</a>
                            </li>
                        </ul>

                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="tel:+919876543212" class="default-btn2">
                                    <i class='bx bxs-phone'></i>
                                    <span>Call Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="javascript:void(0)" class="default-btn2">
                                    <i class='bx bxs-phone'></i>
                                    <span>Contact Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    @RenderBody()

    <!-- Start Footer Optional Area -->
    <div class="footer-optional-area rc-footer-style pb-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-optional-widget">
                        <h2>
                            <a href="javascript:void(0)">Healthcare</a>
                        </h2>
                        <ul class="info-list">
                            <li><span>Location:</span> India</li>
                            <li><span>Phone:</span> <a href="tel:+919876543212">+91 9876543212</a></li>
                            <li><span>Email:</span> <a href="mailto:contact@healthcareit.com">contact@healthcareit.com</a></li>
                        </ul>
                        <ul class="share-link">
                            <li>
                                <span>Get Social:</span>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/?lang=en" target="_blank"><i class='bx bxl-twitter'></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-optional-widget">
                        <h3>Useful Links</h3>

                        <ul class="quick-links">
                            <li><i class='bx bxs-chevrons-right'></i> <a href="/Home/PrivacyPolicy">Privacy Policy</a></li>
                            <li><i class='bx bxs-chevrons-right'></i> <a href="/Home/Terms">Terms</a></li>
                            <li><i class='bx bxs-chevrons-right'></i> <a href="/Home/Index#Products">Products</a></li>
                            <li><i class='bx bxs-chevrons-right'></i> <a href="/Home/Index#Aboutus">About Us</a></li>
                            <li><i class='bx bxs-chevrons-right'></i> <a href="/Home/Index#Contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-optional-widget">
                        <h3>Our Products</h3>

                        <ul class="quick-links">
                            <li><i class='bx bxs-chevrons-right'></i> <a href="javascript:void(0)">IVF Software</a></li>
                            <li><i class='bx bxs-chevrons-right'></i> <a href="javascript:void(0)">Telemedicine Solution</a></li>
                            <li><i class='bx bxs-chevrons-right'></i> <a href="javascript:void(0)">Hospital Information System</a></li>
                            <li><i class='bx bxs-chevrons-right'></i> <a href="javascript:void(0)">Mobile App Development</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-optional-widget">
                        <h3>Newsletter</h3>

                        <form class="newsletter-form">
                            <p>Sign up for our newsletter and get updated about our latest promotions</p>

                            <div class="form-group">
                                <input type="email" class="input-newsletter" placeholder="Your email address" name="EMAIL" required autocomplete="off">

                                <button type="submit"><i class='bx bx-send'></i></button>
                            </div>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Optional Area -->
    <!-- Start Copy Right Area -->
    <div>
        <div class="container">
            <div class="copyright-area-content">
                <p>
                </p>
            </div>
        </div>
    </div>
    <!-- End Copy Right Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-up-arrow-alt'></i>
    </div>
    <!-- End Go Top Area -->
    <!-- Jquery Slim JS -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <!-- MeanMenu JS -->
    <script src="~/Content/assets/js/jquery.meanmenu.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <!-- Jquery Appear JS -->
    <script src="~/Content/assets/js/jquery.appear.js"></script>
    <!-- Odometer JS -->
    <script src="~/Content/assets/js/odometer.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Content/assets/js/nice-select.min.js"></script>
    <!-- Popup JS -->
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Swiper JS -->
    <script src="~/Content/assets/js/swiper-bundle.min.js"></script>
    <!-- AjaxChimp JS -->
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/Content/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/Content/assets/js/contact-form-script.js"></script>
    <!-- Wow JS -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="~/Content/assets/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>